.income,.expense {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  background-color: rgba(0, 128, 0, 0.521);
  border-radius: 6px;
  padding: 16px 28px;
  margin: 10px;
  cursor: pointer;
}
.expense {
  background-color: rgba(255, 0, 0, 0.623);
}
.expense.inEdit,.income.inEdit{
   display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  background-color: rgba(12, 4, 90, 0.671);
  border-radius: 6px;
  margin: 10px;
  padding: 16px 28px;
  color:aliceblue;
}
.expense:hover,.income:hover{
    transform: scale(1.01);
    transition: 5ms;
}
